<article>
  <header>
    <h1>{{this.model.Author.name}}</h1>
    <span>{{this.model.authorPostsMeta.count}} publicações</span>
  </header>

  <section>
    <h2>Sobre o author</h2>

    <div>
      <p>{{this.model.Author.description}}</p>
    </div>
  </section>

  <PostsSection @posts={{this.model.Author.Posts}} />
</article>
