<article>
  <header>
    <h1>John Doe</h1>
    <span>3 publicações</span>
  </header>

  <section>
    <h2>Sobre o author</h2>

    <div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris id erat vel nisl eleifend efficitur. Mauris dolor lorem, facilisis eu volutpat vitae, laoreet ac enim. Sed id augue sit amet augue condimentum convallis et ac nulla. Nullam neque ligula, vestibulum a risus nec, malesuada gravida lectus. Nulla ex orci, lobortis sit amet sapien non, aliquam consequat neque. Suspendisse pretium elit massa, vel tempor turpis lobortis a. Aliquam urna eros, egestas at nisi ac, condimentum molestie lectus. Suspendisse luctus id nunc ac mattis. Aenean et velit vitae sem interdum auctor ut ac sapien. Nulla egestas erat nec diam euismod vulputate et et urna.</p>
      <p>Phasellus dignissim est dolor, nec dictum elit maximus hendrerit. Praesent non orci ut dui vulputate ullamcorper. In porta gravida ante et molestie. Aenean aliquet blandit leo pharetra laoreet. Donec aliquet risus eu finibus scelerisque. Fusce molestie accumsan posuere. Cras eget sem quis quam malesuada pretium. Morbi interdum facilisis est, id ornare nulla fermentum sit amet. Vestibulum hendrerit facilisis lacus, eget tristique lectus tempus et. Maecenas rutrum, massa sit amet interdum interdum, mauris ex ullamcorper lacus, eget iaculis sem urna a arcu. Duis vitae condimentum ipsum. Ut lacus ante, mattis a diam ac, ultricies blandit magna. Pellentesque iaculis orci eu tortor convallis interdum. Proin pharetra scelerisque nisi, at varius orci bibendum et. Cras convallis volutpat tincidunt. Aliquam malesuada leo ut odio pellentesque, at interdum lacus feugiat.</p>
      <p>In sed nibh efficitur, vestibulum tortor vel, hendrerit nibh. Curabitur porta venenatis enim, et mattis lectus dignissim sit amet. Duis ex nisl, congue eget dapibus non, tempus quis magna. Praesent a justo a quam venenatis tristique. Fusce rhoncus augue tortor, a consectetur lorem aliquam eu. Nullam at tincidunt est, a cursus lacus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Donec dapibus imperdiet lorem, vitae dapibus lorem semper id. Fusce bibendum odio sit amet leo sollicitudin feugiat. Cras sed finibus urna, sit amet luctus mi. Phasellus in pretium risus, et posuere felis. Suspendisse aliquet ex mi, at facilisis justo viverra at.</p>
      <p>Sed id augue et felis volutpat finibus. Nullam dapibus quam ac odio malesuada tincidunt. Nam at semper sem, vitae dictum odio. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin sit amet sodales diam, eu condimentum dolor. Aenean ullamcorper rutrum leo id cursus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed in sapien arcu. Aenean vitae odio varius, dapibus nisi et, dictum risus. Nam pulvinar dolor ut neque convallis hendrerit. Mauris bibendum sem sit amet quam aliquet sagittis sed vel leo.</p>
      <p>Maecenas in pulvinar est. Nunc euismod, diam a ultricies congue, augue orci mollis nisi, ut placerat ligula neque ac lacus. Sed sed turpis dui. Pellentesque placerat, ipsum id viverra commodo, quam nisi aliquet ante, vitae consequat nisi nisl vel nibh. In vitae lobortis tellus, ut porta mi. Duis id scelerisque turpis, eu maximus nisi. Proin malesuada vulputate tellus, ut sodales urna volutpat eu. Ut id orci et velit porttitor consequat ut quis libero. Praesent blandit sapien vel turpis venenatis, nec viverra sem luctus. Ut auctor odio eros, eget molestie justo auctor at. Nulla dapibus velit eu tortor mollis, sed laoreet sem rutrum.</p>
    </div>
  </section>

  <PostsSection/>
</article>
