<article>
  <header>
    <h1>{{this.model.Post.title}}</h1>
    <span>{{this.model.Post.Author.name}}</span>
    <span>{{this.model.Post.views}} visualizações</span>
  </header>

  <section>
    <p>{{this.model.Post.body}}</p>
  </section>
</article>
