<header>
  <h1>Meetup Ember BR</h1>
  <nav>
    <ul>
      <li><LinkTo @route="home">Página inicial</LinkTo></li>
      <li><LinkTo @route="posts.new">Novo post</LinkTo></li>
    </ul>
  </nav>
</header>
<main>
  {{outlet}}
</main>
