<article>
  <header>
    <h1>Saiba tudo que acontece no Meetup Ember BR</h1>
  </header>

  <section>
    <h2>Publicações mais recentes</h2>
    <ul>
      <li>
        <h3><LinkTo @route="posts.post" @model="1">Ember com GraphQL</LinkTo></h3>
        <LinkTo @route="authors.author" @model="1">John Doe</LinkTo>
        <span>0 visualizações</span>
      </li>
      <li>
        <h3><LinkTo @route="posts.post" @model="2">Primeiro Meetup Ember BR Online</LinkTo></h3>
        <LinkTo @route="authors.author" @model="2">Jane Doe</LinkTo>
        <span>0 visualizações</span>
      </li>
    </ul>
  </section>

  <aside>
    <h2>Conheça nossos autores</h2>
    <ul>
      <li><LinkTo @route="authors.author" @model="1">John Doe</LinkTo></li>
      <li><LinkTo @route="authors.author" @model="2">Jane Doe</LinkTo></li>
    </ul>
  </aside>
</article>
